# Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production


# Ignorar arquivos .gitkeep
**/.gitkeep

# Gerados pelo build
/public/hot
/public/storage
/public/build

# Storage (exceto .gitkeep)
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# IDE
.phpunit.result.cache
.phpunit.cache/

# Psalm
psalm.xml.dist
/psalm-cache/

# Coverage
.coverage/
coverage.xml
